snippet # "setup chinese header" b
# language: zh-CN
# encoding: utf-8
endsnippet

snippet f "Feature define" b
Feature: $1
endsnippet

snippet b "background" b
Background: $0
endsnippet

snippet s "scenario" b
Scenario: $0
endsnippet

snippet so "scenario outline" b
Scenario Outline: $0

Examples:
endsnippet

snippet g "given" b
Given $0
endsnippet

snippet w "when" b
When $0
endsnippet

snippet t "then" b
Then $0
endsnippet

snippet a "and" b
And $0
endsnippet
