priority -60

extends javascript

priority 1

snippet t "a tag"
<${1:div}>$0</${1/^(\w+).*/$1/}>
endsnippet

snippet br "description"
<br/>
endsnippet

snippet style "HTML <style>" w
<style type="text/css" media="all">
	${0:${VISUAL}}
</style>
endsnippet
