priority -10
extends html

priority 2

snippet php "php block" b
<?php
	$0
?>
endsnippet

snippet html "html declare" b
<html>
	<body>
		<h1>It works!</h1>
		<?php
			$0
		?>
	</body>
</html>

endsnippet

snippet if "if statement" b
if ($1) {
	${VISUAL}$0
}
endsnippet
