snippet l "lambda" w
(λ ($1) $0)
endsnippet

snippet f "define a function"
(define (${1:name}) $0)
endsnippet

snippet v "binding a variable"
(define ${1:v} $0)
endsnippet

snippet lang "#lang declare" b
#lang ${1:racket}
endsnippet

snippet main "module run as main script" b
(module+ main $0)
endsnippet

snippet test "test module run in main script" b
(module+ test $0)
endsnippet
